@media screen and (max-width:1200px){
  .sec h1{
    margin: 7% 0;
  }
  .sec .Tbox{
    line-height: 200%;
  }
  .sec .Tbox h4{
    font-size: 18px;
  }
  .sec .Tbox p{
    font-size: 14px;
  }
  .sec .video a{
    font-size: 14px;
  }
}
@media screen and (max-width:991px){
  .sec h1{
    font-size: 30px;
  }
  .sec .Tbox{
    line-height: 180%;
  }
  .sec .Tbox h4{
    font-size: 16px;
    margin-bottom: 5%;
  }
  .sec .Tbox p{
    font-size: 13px;
    letter-spacing: 1px;
  }
  .sec .Tbox p br{
    display: none;
  }
  .sec .video a{
    font-size: 13px;
  }
}
@media screen and (max-width:767px){
  .sec{
    margin-bottom: 20%;
  }
  .sec h1{
    margin: 10% 0;
  }
  .sec .Ibox{
    justify-content: center;
  }
  .sec .Ibox figure{
    width: 230px;
    max-width: 100%;
  }
  .sec .Tbox{
    line-height: 200%;
  }
  .sec .Tbox h4{
    margin: 10% 0 5% 0;
  }
  .sec .Tbox p{
    font-size: 13px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width:575px){
  header a img{
    width: 50px;
  }
  .sec{
    margin-bottom: 30%;
    padding: 0 10%;
  }
  .sec h1{
    font-size: 25px;
    margin: 7% 0;
  }
  .sec .Ibox figure{
    width: 200px;
    max-width: 100%;
  }
}
@media screen and (max-width:400px){
  header a img{
    width: 40px;
  }
  .sec h1{
    font-size: 20px;
    margin: 10% 0 15% 0;
  }
  .sec .Ibox figure{
    width: 150px;
    max-width: 100%;
  }
  .sec .Tbox{
    line-height: 180%;
  }
  .sec .Tbox h4{
    font-size: 14px;
    margin: 15% 0 7% 0;
  }
  .sec .Tbox p{
    font-size: 12px;
    letter-spacing: 1px;
  }
}